*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url(../img/background.png);
	background-size: cover;
	background-position: center;

}
 
.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
  }

nav{
	
		/* background-color: #3a24f0;
		padding: 10px;
		text-align: center;*/
		width: 100%;
		position: fixed;
		top: 0px;
		z-index: 100;
	
	
	/* position: sticky; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
	padding-left: 8%;
	padding-right: 8%;
	background-color: #f9004d;

}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #f9004d;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #000000;
	transition: .4s;
}
.btn{
	background-color:#1c31d1e0;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 15px;
	border-radius: 80px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #f9004d;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	padding-top: 150px;

	font-size: 75px;
	width: 1130px;
	margin: 0px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: right;
	min-height: 400px;
	
	
}

.box-2{
	display: flex;
	justify-content: center;
	align-items: left;
	min-height: 400px;
	position: absolute;
	top: 1425px;
	margin-left: 75px;
	
}
/* margin-left: 50px; */

.box-3{
	display: flex;
	justify-content: center;
	align-items: right;
	min-height: 400px;
	margin-left: 70%;
	position: absolute;

	top:1422px;
	
}
.qual h2{
	color: rgb(187, 115, 234);
	padding-top: 20px;

	font-size: 75px;
	width: 1130px;
	margin: 0px auto;
	text-align: right;
}
.card{
	height: 465px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.Interest{
	height: 100vh;
	width: 100%;
	background-image: url(../img/polymesh13-06-01.jpg);
	background-size: cover;
	background-position: center;

}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 100px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/* footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
} */
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#f9004d;
	bottom: 35px;
	font-size: 14px; 
}
.content-table{
	padding-top: 10px;
	padding-bottom: 10px;
}
.dasvi{
	width: 100%;

}
.qualifications{
	height: 70vh;
	width: 50%;
	/* background-image: url(/img/polymesh2-08-01.jpg); */
	background-position: 00%;
	background-color: antiquewhite;
	background-position-x: center;
	margin-left: 10px
	
	
	
}
table {
	width: 200%;
}

th {
	height: 50px;
}
td {
	height: 40px;
}
.message-wrapper {
	border-bottom: 1px solid rgb(128, 128, 121);
	padding-bottom: 80px;
	text-align: center;
	background-color:grey;
	background-image: url(/img/polymesh2-08-01.jpg);
  
	
  }
  .message-wrapper h2{
	color:rgb(0, 0, 0);
	font-size: xx-large;
  }
  
  .message {
	padding: 10px 40px;
	background-color: #f9004d;
	cursor: pointer;
	box-shadow: 0 7px #000000f3;
	color:rgb(211, 211, 211);
  }
  
  .message:active {
	position: relative;
	top: 7px;
	box-shadow: none;
  }
.heading {
	padding-top: 80px;
	padding-bottom: 50px;
  }
.container{
	padding-top: 10px;
}